<div class="col-xs-3 ">
    <div class="navbar navbar-default">
    <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active"><a ui-sref="MTP.ApplicationManage">Application Manage</a>
        </li>
        <li ui-sref-active="active"><a href="#section-2">Application Deploy</a>
        </li>
        <li ui-sref-active="active"><a href="#section-3">Manage Config</a>
        </li>
        <li ui-sref-active="active"><a href="#section-4">Dispatch</a>
        </li>
        <li ui-sref-active="active"><a href="#section-5">View Config</a>
        </li>
    </ul>
        </div>
</div>
<div ui-view class="col-xs-9 fill">
</div>