<div class="row">
            <div class="span3">
                <div class="pa-sidebar well well-small">
                    <ul class="nav nav-list">
                        <li ui-sref-active="active"><a ui-sref="main.view1">view1</a>
                        </li>
                        <li class="nav-header">Top Contacts</li>
                        <li ui-sref-active="active"><a ui-sref="main.view2">view2</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span9 slide" ui-view></div>

        </div>